.App {
  text-align: center;
}

ul li {
  list-style-type: none;
  text-align: left;
  transition: 0.2s ease;
}

ul li:hover {
  font-size: 40px;
}

.link {
  margin: 10px 10px;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
